@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #100e17;
    margin: 0px;
    padding: 0px;
}

#cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

#cardContainer>.card:not(:first-child) {
    margin-left: 1%;
}

#palindrome {
    color: #eee;
    display: flex;
    justify-content: left;
    overflow: hidden;
    background-color: #292533;
}

#palindrome {
    padding: 14px 6px;
    font-size: 1.5rem;
}

.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    outline: 0;
    text-align: center;
    font-size: 18px;
}

#letters-form {
    color: #eee;
}

:focus {
    outline: none;
}

.input-container {
    margin: 0 10px;
    float: left;
    position: relative;
}

#palindrome>input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    color: #eee;
}

#palindrome-input {
    color: #eee;
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}

#palindrome-input~.focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #4caf50;
    transition: 0.4s;
}

#palindrome-input:focus~.focus-border,
.has-content#palindrome-input~.focus-border {
    width: 100%;
    transition: 0.4s;
}

.has-content #palindrome-input {
    top: -16px;
    font-size: 12px;
    color: #4caf50;
    transition: 0.3s;
}


#letters-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    height: 190px;
    width: 450px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    width: 182px;
}

.title {
    color: #eee;
    font-size: 30px;
    font-weight: 300;
}

#letters-form input[type=text], input[type=number]{
    border: none;
    background-color: #292533;
    color: #eee;
    border-radius: 5px;
    font-size: 16px;
    height: 100%
}

#letters-form input[type =submit]{
    font-size: 22px;
}


.card {
    display: flex;
    flex-direction: column;
    /* height: 280px;
    width: 200px; */
    font-size: 22px;
    color: #eee;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    right: 0px;
}

.card:not(:first-child) {
    margin-right: -50px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.card:hover~.card {
    position: relative;
    right: 50px;
    transition: 0.4s ease-out;
}